<!-- PASTE YOUR FIREBASE SNIPPET HERE! -->

<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyB9YDv04ffMsiE4Fo9ZChT61XKYHM_WFgg",
    authDomain: "google-com-franny-starter-project.firebaseapp.com",
    databaseURL: "https://google-com-franny-starter-project.firebaseio.com",
    projectId: "google.com:franny-starter-project",
    storageBucket: "",
    messagingSenderId: "810291314182"
  };
  firebase.initializeApp(config);
</script>